################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opnGL_practice/.vs/opnGL_practice/v16
